<div class="nav-bar">
        <h1>
            Portfolio
        </h1>
    <nav class="nav">
        <ul>
            <li>
                <a href="#Home" class="active">Home</a>
            </li>
            <li>
                <a href="#About">About</a>
            </li>
            <li>
                <a href="#Education">Education</a>
            </li>
            <li>
                <a href="#Works">Skills/Works</a>
            </li>
        </ul>
    </nav>

</div>
