<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>PORTFOLIO</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <div class="row" id="Home">
      <div class="column left main-content">
        <div class="cont">
          <h1>Jane James</h1>
          <br />
          <p>Frontend Developer</p>
          <br />
          <br />
          <a
            class="main-a"
            href="/public/img/Miss_Chukwuemeka Blessing Chiamaka_Resume_24-05-2022-00-00-05.pdf"
          >
            <button class="btn">Portfolio</button>
          </a>
          <a class="main-a" href="#Contact">Contact Me</a>
        </div>
      </div>
      <div class="column right" id="cont2">
        <img class="bg-img" src="img/peakpx.jpg" alt="me" />
      </div>
    </div>

    <section class="about" id="About">
      <div class="about-sect">
        <h1>About Me</h1>
        <p>
          My name is Jane James I'm a Front End Engineer based in Barcelona ☀️.
          I describe myself as a passionate developer who loves coding, open
          source, and the web platform ❤️. Aside from my job, I like to create
          and contribute to open source projects. That helps me to learn a ton
          of new stuff, grow as a developer and support other open source
          projects. Also I enjoy writing technical things ✍️ at my blog. In my
          free time you can find me longboarding 🛹 , at the gym 🏋️‍♂️, at the
          beach 🏖 or on tech meetups and conferences around Barcelona and Europe
          🗺
        </p>

        <div id="parent">
          <div class="col">
            <img
              style="height: 50vh; border-radius: 5px"
              class="bg-img"
              src="img/peakpx (1).jpg"
              alt="me"
            />
          </div>
          <div class="col about-sect" id="Education">
            <h1>Education</h1>

            <p>
              CFGS DAW at Escola Jesuïtes El Clot September 2013 – June 2015 A
              two years degree about building web applications. Using Front-End
              and Back-End technologies.
            </p>

            <p>
              Self-taught at anywhere in the 🌍 December 1995 – Now The things I
              learned by myself became the vast majority of what I know today.
              #AlwaysLearning
            </p>
            <br />
            <br />
            <h4 style="text-align:center ;">Hobbies🏋️‍♂️</h4>
         <ul style="text-align: center;">
            <li style="justify-content: center;">
                Shoemaking
            </li>
            <li>Singing
            </li>
            <li>
                Sketching
            </li>
            <li>
                Skipping rope
            </li>
            <li>
                Slot car
            </li>
            <li>
                Soapmaking
            </li>
            <li>
                Social media
            </li>
            <li>
                Speedrunning
            </li>
         </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="skills main-container" id="Works">
<h1 style="text-align: center; padding-top:20px">
    Work/Skills
</h1>
<div class="cards">
    <div class="card">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">HTML & CSS</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Resume <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">JAVASCRIPT</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Resume <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">REACT/NEXT JS</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Resume <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </section>
    
    <section class="contact" id="Contact">
        <div class="container">
            <div class="row">
                    <h1 class="contact-h1">contact us</h1>
            </div>
            <div class="row">
                    <h4 class="contact-h4" style="text-align:center">We'd love to hear from you!</h4>
            </div>
            <div class="row input-container">
              <form action="/" method="post">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required placeholder="Name" name="Name" />
                         
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="email" required  placeholder="Email" name="Email"/>
                           
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="tel" required  placeholder="Phone Number" name="Phone"/>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea required placeholder="Message"></textarea>
                         
                        </div>
                    </div>
                
                    <div class="col-xs-12">
                        <!-- <a href="#" style="text-decoration: none;"> -->
                            <button class="btn-lrg submit-btn">
                               send message
                            </button>
                        <!-- </a>  -->
                    </div>
                  </form>
            </div>
        </div>

    </section>
  </body>
</html>
